/* ------------------------------------------ */
/* Table                                      */
/* ------------------------------------------ */


.tableblock__table {    
    width: 13.75rem;
    height: 20.625rem;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
}

.tableblock__table:hover {
    border: 1.16239px solid #00D28A;
    box-sizing: border-box;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.203012);
}


.tableblock__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tableblock__list:nth-child(2) {
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;

}

